.dropdown-container {
  list-style: none;
  transition: max-height .2s ease-out;
  overflow: hidden;
  max-height: 12rem;
  > li {
    display: flex;
    align-items: center;
    margin: 1rem 0 0;
    cursor: pointer;

    &:hover {
      p {
        color: $almost-black;
      }
    }

    img {
      margin-right: 1rem;
      width: 1rem;
    }
  }
}

.dropdown-hidden {
  max-height: 0;
}

@media (min-width: $mobile-max) {
  .dropdown-container {
    z-index: 800;
    background-color: white;
    position: absolute;
    inset: 3rem 0 auto auto;
    padding: 0 2rem .8rem;
    border-radius: 1rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    transition: padding .2s, max-height .2s ease-out;
    width: max-content;
  }

  .company-dropdown {
    inset: 3rem auto auto 0;
  }

  .dropdown-hidden {
    padding: 0;
  }
}