header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $mobile-padding;
  .open-sidebar {
    cursor: pointer;
  }
}

@media (min-width: $mobile-max) {
  header {
    padding: 0 1rem;
    h2 {
      margin-left: 1rem;
    }
    justify-content: center;
    .open-sidebar {
      display: none;
    }
  }
}