main {
  display: flex;
  flex-direction: column;
  height: 100%;

  .hero-image {
    background-image: url('images/image-hero-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    aspect-ratio: 1.33/1;
    margin: 1.5rem auto;
  }

  section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: $mobile-padding;
    .learn-more {
      &:hover {
        background-color: $almost-white;
        p {
          color: $almost-black;
        }
      }
      cursor: pointer;
      margin: .2rem auto 3rem;
      border: 2px solid $almost-black;
      border-radius: .8rem;
      background-color: $almost-black;
      padding: .6rem 1rem;
      
      p {
        color: $almost-white;
        font-weight: 700;
      }
    }

    p {
      margin: 8px auto;
    }

    .client-logos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 20%;
      }
    }
  }
}

@media (min-width: calc($mobile-max)) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 2rem 0 2rem;
    .hero-image {
      order: 1;
      background-image: url('images/image-hero-desktop.png');
      aspect-ratio: 1/1.33;
      max-width: 30rem;
    }
    section {
      text-align: left;
      //margin-left: 7.9rem;
      h2 {
        font-size: 5rem;
        margin: 5rem 0;
      }
      p {
        font-size: 18px;
        margin: 0;
        max-width: 30rem;
      }
      .learn-more {
        margin: 3rem 0 6rem;
        width: 10rem;
        aspect-ratio: 2.9/1;
        padding: 0;
      }
      .client-logos {
        max-width: 30rem;
        img {
          width: 18%;
        }
      }
    }
  }
}

@media (min-width: calc($mobile-max * 1.5)) {
  main {
    padding: 0 2rem 0 9.9rem;
  }
}